simpleClient/simpleClient/Service References/ServiceReference1/mathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="mathService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50019/mathService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50019/mathService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ImathService_Plus_InputMessage">
    <wsdl:part name="parameters" element="tns:Plus" />
  </wsdl:message>
  <wsdl:message name="ImathService_Plus_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlusResponse" />
  </wsdl:message>
  <wsdl:message name="ImathService_Min_InputMessage">
    <wsdl:part name="parameters" element="tns:Min" />
  </wsdl:message>
  <wsdl:message name="ImathService_Min_OutputMessage">
    <wsdl:part name="parameters" element="tns:MinResponse" />
  </wsdl:message>
  <wsdl:message name="ImathService_Cross_InputMessage">
    <wsdl:part name="parameters" element="tns:Cross" />
  </wsdl:message>
  <wsdl:message name="ImathService_Cross_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrossResponse" />
  </wsdl:message>
  <wsdl:message name="ImathService_Div_InputMessage">
    <wsdl:part name="parameters" element="tns:Div" />
  </wsdl:message>
  <wsdl:message name="ImathService_Div_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivResponse" />
  </wsdl:message>
  <wsdl:portType name="ImathService">
    <wsdl:operation name="Plus">
      <wsdl:input wsaw:Action="http://tempuri.org/ImathService/Plus" message="tns:ImathService_Plus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ImathService/PlusResponse" message="tns:ImathService_Plus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Min">
      <wsdl:input wsaw:Action="http://tempuri.org/ImathService/Min" message="tns:ImathService_Min_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ImathService/MinResponse" message="tns:ImathService_Min_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cross">
      <wsdl:input wsaw:Action="http://tempuri.org/ImathService/Cross" message="tns:ImathService_Cross_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ImathService/CrossResponse" message="tns:ImathService_Cross_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Div">
      <wsdl:input wsaw:Action="http://tempuri.org/ImathService/Div" message="tns:ImathService_Div_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ImathService/DivResponse" message="tns:ImathService_Div_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ImathService" type="tns:ImathService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Plus">
      <soap:operation soapAction="http://tempuri.org/ImathService/Plus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Min">
      <soap:operation soapAction="http://tempuri.org/ImathService/Min" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cross">
      <soap:operation soapAction="http://tempuri.org/ImathService/Cross" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Div">
      <soap:operation soapAction="http://tempuri.org/ImathService/Div" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mathService">
    <wsdl:port name="BasicHttpBinding_ImathService" binding="tns:BasicHttpBinding_ImathService">
      <soap:address location="http://localhost:50019/mathService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>